.slideshow {
    position: relative;
    width: clamp(270px, 55vw, 600px);
    height: clamp(210px, 50vh, 450px);
    transform-style: preserve-3d;
    perspective: 1000px;
}
.slideshow .slide {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    transform: scale(-1, 1);
    rotate: y 90deg;
    transform-style: preserve-3d;
    animation: animate 30s cubic-bezier(0, 0.48, 1, 0.52) infinite;
    animation-delay: calc(var(--i) * 6s);
}
@keyframes animate {
    0% {
        rotate: y 90deg;
    }
    20%, 100% {
        rotate: y 270deg;        
    }
}
.slideshow .slide img {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.slideshow .slide h2 {
    position: absolute;
    top: -30%;
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-size: 3.3rem;
    font-weight: 800;
    border-radius: 11px;
    color: var(--color-font);
    text-shadow: 0 0 3px var(--color-white), 0 0 8px var(--color-white);
    transform: scale(-1, 1) translateY(100px) translateZ(50px);
    rotate: y 180deg;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation: text-slide 30s linear infinite;
    animation-delay: calc(var(--i) * 6s);
}
@keyframes text-slide {
    0% {
        left: 50px;
    }
    20%, 100% {
        left: -150px;
    }
}

@media screen and (min-width: 576px) {
    .slideshow .slide img {
        width: auto;
        height: 100%;
    }
}