@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* ----------------------------- */
/* A változók beállítása         */
/* ----------------------------- */
:root {
    --color-green-glow: rgba(0, 197, 180, 0.8);
    --color-green-faded: rgba(0, 197, 180, 0.3);
    --color-font: rgba(88, 118, 118, 0.98);
    --color-red: rgba(255, 80, 80, 0.8);
    --color-white: rgba(255, 255, 255);
    --color-white-transparent: rgba(255, 255, 255, 0.5);
    --color-transparent: rgba(255, 255, 255, 0);
    --color-background: rgba(80, 0, 0, 0.05);
    --color-dark-background: rgba(3, 3, 11, 1);
}


/* ----------------------------- */
/* A RESET beállítása            */
/* ----------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    list-style: none;
}
textarea, input {
    border: 0;
    outline: 0;
}


/* ----------------------------- */
/* Általános stílus beállítások  */
/* ----------------------------- */
.base-element-design {
    backdrop-filter: blur(3px);
    border-radius: 5px;
    background: var(--color-background);
    box-shadow: 0 0 8px 2px var(--color-font);
}


/* ----------------------------- */
/* A HTML és alap beállítások    */
/* ----------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--color-font);
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
body {
    min-width: 300px;
    background: var(--color-white);
    transition: 0.8s linear;
}
body.dark-bg {
    background: var(--color-dark-background);
}
body .scroll-watcher {
    grid-area: SCROLLER;
    height: 8px;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    position: fixed;
    top: 0;
    z-index: 100;
    background: var(--color-green-glow);
    animation: scroll-watching linear;
    animation-timeline: scroll();
}
@keyframes scroll-watching {
    to {scale: 1 1;}
}
body h1.lang-inactive,
body h2.lang-inactive,
body h3.lang-inactive,
body p.lang-inactive,
body a.lang-inactive,
form .field.error div.lang-inactive,
form .field.blank div.lang-inactive,
form input.lang-inactive,
form textarea.lang-inactive {
    display: none;
}


/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
    grid-area: HEADER;
    display: grid;
    grid-template-areas:
    "LOGO"
    "SOCIAL"
    "MODE";
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 8px;
    width: calc(100vw - 1rem);
    min-width: 300px;
    margin: 0.5rem;
    z-index: 10;
}
header .codepilot-logo {
    grid-area: LOGO;
    padding: 0.5rem 2rem;
}
header .social-media {
    grid-area: SOCIAL;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
header .social-media .social-media-items {
    height: 1.5rem;
    border-radius: 5px;
    transition: all 0.5s linear;
}
header .social-media .social-media-items:hover {
    background-color: var(--color-green-glow);
    box-shadow: 0 0 5px 5px var(--color-green-glow);
}
header .mode-selection {
    grid-area: MODE;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
header .mode-selection .mode-items {
    height: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
}
header .mode-selection .mode-items:hover {
    background-color: var(--color-green-glow);
    box-shadow: 0 0 5px 5px var(--color-green-glow);
}
header .mode-selection .mode-items:first-child,
header .mode-selection .mode-items:last-child {
    height: 1.3rem;
}


/* ----------------------------- */
/* A NAV elemeinek beállítása    */
/* ----------------------------- */
nav {
    grid-area: NAV;
    position: sticky;
    top: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 66px;
    padding: 0.5rem;
    z-index: 8;
}
nav .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: normal;
    position: relative;
    height: 50px;
    width: 50px;
    transition: all 0.8s linear;
    cursor: pointer;
    z-index: 10;
}
nav .toggle .sr-only {
    display: none;
}
nav .toggle.menu-active {
    background-color: var(--color-green-glow);
    box-shadow: 0 0 8px 2px var(--color-green-glow);
}
nav .toggle li {
    list-style: none;
    position: relative;
    width: 80%;
    height: 4px;
    background: var(--color-font);
    transition: all 0.8s linear;
}
nav .toggle.menu-active li:nth-of-type(2) {
    transform: translateY(13.5px) rotate(45deg);
}
nav .toggle.menu-active li:nth-of-type(3) {
    opacity: 0;
}
nav .toggle.menu-active li:nth-of-type(4) {
    transform: translateY(-13.5px) rotate(-45deg);
}
nav .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    translate: -120%;
    list-style-type: none;
    transition: 0.8s;
    padding-top: 0.5rem;
    overflow: clip;
}
nav .menu.menu-active {
    translate: 0;
}
nav .menu li {
    list-style: none;
    position: relative;
    text-align: left;
}
nav .menu li a {
    text-decoration: none;
}


/* ----------------------------- */
/* A MAIN elemeinek beállítása   */
/* ----------------------------- */
main {
    grid-area: MAIN;
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 0.8rem;
    overflow: clip;
}
main section h1 {
    font-size: 1.6rem;
}
main section h2 {
    font-size: 1.3rem;
    color: var(--color-green-glow);
    margin: 2rem;
    text-transform: uppercase;
    text-align: center;
}
@keyframes scroll-reveal {
    to { background-size: 100% 100%;}
}
@supports (animation-timeline: view()){
    main section h2 {
        color: var(--color-green-faded);
        background-image: linear-gradient(90deg, var(--color-green-glow), var(--color-green-glow));
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        animation: scroll-reveal linear forwards;
        animation-timeline: view();
        animation-range-start: 20vh;
        animation-range-end: 80vh;
    }
}
main section h3 {
    font-size: 1.1rem;
}


/* ----------------------------- */
/* A HOME elemeinek beállítása   */
/* ----------------------------- */
.home {
    height: 160vh;
}
.home a {
    position: relative;
}
.home a::before {
    width: 100vw;
}


/* ----------------------------- */
/* Az ABOUT elemeinek beállítása */
/* ----------------------------- */
.about {
    gap: 0.8rem;
}
.about h3 span,
.about p span {
    display: inline-block;
    font-size: 0.8rem;
    width: clamp(270px, 55vw, 700px);
    color: var(--color-font);
}
@supports (animation-timeline: view()){
    .about h3 span,
    .about p span {
        color: var(--color-transparent);
        background-image: linear-gradient(90deg, var(--color-font), var(--color-font));
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        animation: scroll-reveal linear forwards;
        animation-timeline: view();
        animation-range-start: 10vh;
        animation-range-end: 60vh;
    }
}
.about p a {
    color: var(--color-green-glow);
}
.about .profil {
    width: clamp(270px, 55vw, 700px);
    height: clamp(270px, 55vw, 700px);
    background-image: url('../resources/nogi_profil_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
}
@keyframes fade-in {
    from {scale: 0.8 1; opacity: 0;}
    to {scale: 1 1; opacity: 1;}
}
@supports (animation-timeline: view()){
    .about .profil {
        animation: fade-in linear;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 80vh;
    }
}


/* ----------------------------- */
/* A SKILLS elemeinek beállítása */
/* ----------------------------- */
.skill {
    gap: 1.1rem;
    padding-bottom: 2.5rem;
}
.skill h3 {
    margin-bottom: 2rem;
}


/* -------------------------------- */
/* A PORTFOLIO elemeinek beállítása */
/* -------------------------------- */
.portfolio {
    gap: 1.1rem;
}


/* -------------------------------- */
/* A CONTACT elemeinek beállítása   */
/* -------------------------------- */
.contact {
    gap: 1.1rem;
    margin-bottom: 2rem;
}
.contact h3 {
    text-align: center;
    margin-bottom: 1rem;
}
.contact form {
    width: clamp(270px, 45vw, 800px);
    text-align: center;
}
form .field .form-item {
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-green-glow);
    border-radius: 5px;
    box-shadow: 0 0 8px 2px var(--color-green-glow);
    font-family: inherit;
    font-size: 0.8rem;
    margin-top: 11px;
}
form .field .form-item.error,
form .field .form-item.blank {
    border: 2px solid var(--color-red);
    box-shadow: 0 0 8px 2px var(--color-red);
}
form .field .form-item::placeholder {
    color: var(--color-font);
}
form .field .blank-txt,
form .field .error-txt {
    display: none;
    font-size: 0.8rem;
    color: var(--color-red);
    text-align: left;
    margin-top: 3px;
    margin-bottom: 8px;
}
form .field.error .error-txt,
form .field.blank .blank-txt {
    display: block;
}
form .textarea-field .blank-txt {
    margin-top: -1px;
}
form .textarea-field .form-item {
    resize: none;
}
form .submit-button {
    border: none;
    outline: none;
    border-radius: 5px;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
    margin: 20px 0;
}
form .submit-button::before {
    width: 100vw;
    text-align: left;
}


/* -------------------------------- */
/* A FOOTER elemeinek beállítása    */
/* -------------------------------- */
footer {
    grid-area: FOOTER;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1rem 2rem;
    width: calc(100vw - 1rem);
    position: fixed;
    bottom: 0;
    margin: 0.5rem;
}
footer div p {
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
}
footer div p a {
    font-size: 0.7rem;
    color: var(--color-green-glow);
}


/* -------------------------------- */
/* A Reszponzivitás beállítása      */
/* -------------------------------- */
@media screen and (min-width: 576px) {
    header {
        grid-template-areas:
        "LOGO SOCIAL MODE";
    }
    nav {
        top: 103px;
    }
}
@media screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 340px auto;
        grid-template-areas:
        "SCROLLER SCROLLER"
        "HEADER MAIN"
        "NAV MAIN"
        "FOOTER MAIN";
    }
    header {
        grid-template-areas:
        "LOGO"
        "SOCIAL"
        "MODE";
        width: 320px;
    }
    header .social-media {
        padding: 0.5rem 2rem;
    }
    nav {
        position: fixed;
        top: 188px;
        width: 320px;
        height: calc(100vh - 270px);
        padding: 0;
        margin: 0.5rem;
    }
    nav .toggle {
        display: none;
    }
    nav .menu {
        justify-content: space-around;
        top: 0;
        translate: 0;
        width: 100%;
        height: 100%;
    }
    main section {
        width: calc(100vw - 360px);
    }
    main section h1 {
        font-size: 2.5rem;
    }
    main section h2 {
        font-size: 1.8rem;
    }
    .portfolio .container {
        flex-direction: row;
    }
    footer {
        width: 320px;
    }
}